p {
  text-align:left;
  color: white;
  font-style: normal;
  font-size: medium;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  color: white;
  font-style: normal;
  font-size: large;
}

li {
  color: white
}

dl {
  color: white
}

a:link, a:active, a:visited {
  color: white;
}

body {
  background-color: black;
}

#arteon {
  background-image: url("../imgs/arteon.jpg");
}

p.center_paragraph {
  text-align: center;
  color: white;
  font-style: normal;
  font-size: medium;
}

h1.center_header, h2.center_header, h3.center_header, 
h4.center_header, h5.center_header, h6.center_header {
  text-align: center;
  color: white;
  font-style: normal;
  font-size: large;
}
